{% load staticfiles %}
<nav class="topMenu-nav">
    <ul>
        <li><a href="#">
            <img src="{% static 'images/content/menu1.jpg' %}" alt="Explore Our Campuses">
            <p><em>Explore Our Campuses</em></p>
        </a></li>
        <li><a href="#">
            <img src="{% static 'images/content/menu3.jpg' %}" alt="Learn">
            <p><em>Learn</em></p>
        </a></li>
        <li><a href="#">
            <img src="{% static 'images/content/menu2.jpg' %}" alt="Discover Our People">
            <p><em>Discover Our People</em></p>
        </a></li>
        <li><a href="#">
            <img src="{% static 'images/content/menu1.jpg' %}" alt="Why Tokyo?">
            <p><em>Why Tokyo?</em></p>
        </a></li>

    </ul>
</nav>
