{% load staticfiles %}
<div class="my-slider">
    <ul>
        <li><img src="{% static 'images/slider_pic1.jpg' %}" alt="">
            <p>
                推进国际产能和装备制造合作，是保持我国经济中高速增长和迈向中高端
                水平的重大举措。当前，我国经济发展进入新常态，对转变发展方式、调整
                经济结构提出了新要求。积极推进国际产能和装备制造合作，有利于促进优
                势产能对外合作，形成我国新的经济增长点，有利于促进企业不断提升技术、
                质量和服务水平，增强整体素质和核心竞争力，推动经济结构调整和产业转型
                升级，实现从产品输出向产业输出的提升。
            </p>
        </li>
        <li><img src="{% static 'images/slider_pic2.jpg' %}" alt="">
            <p>
                推进国际产能和装备制造合作，是保持我国经济中高速增长和迈向中高端
                水平的重大举措。当前，我国经济发展进入新常态，对转变发展方式、调整
                经济结构提出了新要求。积极推进国际产能和装备制造合作，有利于促进优
                势产能对外合作，形成我国新的经济增长点，有利于促进企业不断提升技术、
                质量和服务水平，增强整体素质和核心竞争力，推动经济结构调整和产业转型
                升级，实现从产品输出向产业输出的提升。
            </p>
        </li>
        <li><img src="{% static 'images/slider_pic2.jpg' %}" alt="">
            <p>
                推进国际产能和装备制造合作，是保持我国经济中高速增长和迈向中高端
                水平的重大举措。当前，我国经济发展进入新常态，对转变发展方式、调整
                经济结构提出了新要求。积极推进国际产能和装备制造合作，有利于促进优
                势产能对外合作，形成我国新的经济增长点，有利于促进企业不断提升技术、
                质量和服务水平，增强整体素质和核心竞争力，推动经济结构调整和产业转型
                升级，实现从产品输出向产业输出的提升。
            </p>
        </li>
    </ul>
</div>
