<header>
    <section>
        <div class="header-title" style="height:200px">
            <h1><a title="国际产能合作信息服务平台">
                <h2>国际产能合作信息服务平台</h2>
            </a></h1>
        </div>
    </section>
    <div class="m-fixed m-h-nav tem_head">
        <ul id="nav" class="navdh clearfix">
            <li class="nLi on">
                <h3>
                    <a href="" title="网站首页" class="navdown">网站首页</a>
                </h3>
            </li>
            <li class="nLi">
                <h3>
                    <a href="about/" title="本市概况">本市概况</a>
                </h3>
                <ul class="sub" style="display: none;">
                    <li><a href="about/" title="中心城市">中心城市</a></li>
                    <li><a href="about/" title="中心城市">中心城市</a></li>
                    <li><a href="about/" title="中心城市">中心城市</a></li>
                    <li><a href="about/" title="中心城市">中心城市</a></li>
                </ul>
            </li>
            <li class="nLi">
                <h3><a href="news/" title="政府资讯">政府资讯</a></h3>
                <ul class="sub">
                    <li><a href="news/news_105_1.html" title="行政体制">行政体制</a></li>
                    <li><a href="news/news_105_1.html" title="行政体制">行政体制</a></li>
                    <li><a href="news/news_105_1.html" title="行政体制">行政体制</a></li>
                </ul>
            </li>
            <li class="nLi">
                <h3><a href="product/" title="旅游发展">旅游发展</a></h3>
                <ul class="sub">
                    <li><a href="lvyou/" title="旅游规划">旅游规划</a></li>
                    <li><a href="lvyou/" title="旅游规划">旅游规划</a></li>
                    <li><a href="lvyou/" title="旅游规划">旅游规划</a></li>
                </ul>
            </li>
            <li class="nLi">
                <h3><a href="download/" title="党政文件">党政文件</a></h3>
                <ul class="sub">
                    <li><a href="download/download_34_1.html" title="公文格式">公文格式</a></li>
                    <li><a href="download/download_35_1.html" title="党政工作">党政工作</a></li>
                </ul>
            </li>
            <li class="nLi">
                <h3><a href="case/" title="工业园区">工业园区</a></h3>
            </li>
            <li class="nLi">
                <h3><a href="job/" title="招商引资">招商引资</a></h3>
            </li>
        </ul>
    </div>
</header>
