{% load staticfiles %}
<header>
    <div class="header-inner">
        <h1 class="header-title">
            <a href="#">
                <img src="{% static 'images/logo.png'%}" alt="国际产能合作信息服务平台">
                国际产能合作信息服务平台
            </a>
        </h1>

        <nav class="header-nav">
            <div>
                <ul>
                    <li><p><a href="#">政策指南</a></p></li>
                    <li class=""><p><a href="#">投资报告</a></p></li>
                    <li><p><a href="#">行业联盟</a></p></li>
                    <li><p><a href="#">直通车</a></p></li>
                </ul>
            </div>
        </nav><!-- / #headerMenu -->

    </div>
</header>
