<div class="list-box">
	<!-- <h3>
		<p>行政体制</p>
		<a href="#" title="行政体制">更多</a>
	</h3> -->
    <div class="title">
        <p>政策法规</p>
        <a href="#">更多</a>
    </div>
	<ul class="list">
    	<li>
    		<a href="#" target="_blank" title="改革创新文化管理体制">关于加强境外经济贸易合作区风险防范工作有关问题的通知</a>
    		<span>2015-06-18</span>
    	</li>
    	<li>
    		<a href="#" target="_blank" title="差序利他倾向有利于重建道德公共性">关于加强境外经济贸易合作区风险防范工作有关问题的通知</a>
    		<span>2015-06-18</span>
    	</li>

    	<li>
    		<a href="#" target="_blank" title="政府需要怎样的大数据思维">关于加强境外经济贸易合作区风险防范工作有关问题的通知</a>
    		<span>2015-06-18</span>
    	</li>

    	<li>
    		<a href="#" target="_blank" title="全面依法治国的法经济学思考">关于加强境外经济贸易合作区风险防范工作有关问题的通知</a>
    		<span>2015-06-18</span>
    	</li>

    	<li>
    		<a href="#" target="_blank" title="司法公正是依法治国的基石">关于加强境外经济贸易合作区风险防范工作有关问题的通知</a>
    		<span>2015-06-18</span>
    	</li>

    	<li>
    		<a href="#" target="_blank" title="把握司法体制改革的正确导向">关于加强境外经济贸易合作区风险防范工作有关问题的通知</a>
    		<span>2015-06-18</span>
    	</li>
	</ul>
</div>
