<div class="tab-box">
    <ul class="tab-nav">
        <a >首页</a>
        <a >新闻</a>
        <a >观点</a>
    </ul>
    <div class="tab-content">
        <ul class="img-list">
        	<div>
                <li class="img-item"><a href="#" target="_blank">
                    <p class="img">
                        <img src="http://www.gsm.pku.edu.cn/resource/uploadfiles/images/20161212/2016121201373537359689.jpg">
                    </p>
                    <p class="title">观点 | 寻找“红利”的新源泉</p>
                    <p class="time">2016-12-15</p>
                </a></li>
                <li class="img-item"><a href="#" target="_blank">
                    <p class="img">
                        <img src="http://www.gsm.pku.edu.cn/resource/uploadfiles/images/20161212/2016121201373537359689.jpg">
                    </p>
                    <p class="title">观点 | 寻找“红利”的新源泉</p>
                    <p class="time">2016-12-15</p>
                </a></li>
                <li class="img-item"><a href="#" target="_blank">
                    <p class="img">
                        <img src="http://www.gsm.pku.edu.cn/resource/uploadfiles/images/20161212/2016121201373537359689.jpg">
                    </p>
                    <p class="title">观点 | 寻找“红利”的新源泉</p>
                    <p class="time">2016-12-15</p>
                </a></li>
            </div>
            <div class="clear"> </div>
        </ul>
        <ul class="img-list" style="display: none;">
        	<div>
                <li class="img-item"><a href="#" target="_blank">
                    <p class="img">
                        <img src="http://www.gsm.pku.edu.cn/resource/uploadfiles/images/20161215/2016121507362536251502.jpg">
                    </p>
                    <p class="title">观点 | 寻找“红利”的新源泉</p>
                    <p class="time">2016-12-15</p>
                </a></li>
                <li class="img-item"><a href="#" target="_blank">
                    <p class="img">
                        <img src="http://www.gsm.pku.edu.cn/resource/uploadfiles/images/20161215/2016121507362536251502.jpg">
                    </p>
                    <p class="title">观点 | 寻找“红利”的新源泉</p>
                    <p class="time">2016-12-15</p>
                </a></li>
                <li class="img-item"><a href="#" target="_blank">
                    <p class="img">
                        <img src="http://www.gsm.pku.edu.cn/resource/uploadfiles/images/20161215/2016121507362536251502.jpg">
                    </p>
                    <p class="title">观点 | 寻找“红利”的新源泉</p>
                    <p class="time">2016-12-15</p>
                </a></li>
            </div>
            <div class="clear"> </div>
        </ul>
        <ul class="img-list" style="display: none;">
        	<div>
                <li class="img-item"><a href="#" target="_blank">
                    <p class="img">
                        <img src="http://www.gsm.pku.edu.cn/resource/uploadfiles/images/20161215/201612150722042241707.jpg">
                    </p>
                    <p class="title">观点 | 寻找“红利”的新源泉</p>
                    <p class="time">2016-12-15</p>
                </a></li>
                <li class="img-item"><a href="#" target="_blank">
                    <p class="img">
                        <img src="http://www.gsm.pku.edu.cn/resource/uploadfiles/images/20161215/201612150722042241707.jpg">
                    </p>
                    <p class="title">观点 | 寻找“红利”的新源泉</p>
                    <p class="time">2016-12-15</p>
                </a></li>
                <li class="img-item"><a href="#" target="_blank">
                    <p class="img">
                        <img src="http://www.gsm.pku.edu.cn/resource/uploadfiles/images/20161215/201612150722042241707.jpg">
                    </p>
                    <p class="title">观点 | 寻找“红利”的新源泉</p>
                    <p class="time">2016-12-15</p>
                </a></li>
            </div>
            <div class="clear"> </div>
        </ul>
    </div>
</div>
