
/* 首页轮播图slider */
.sec-slider {
    background: #0e0d0d;
}
.sec-slider .slider {
    max-width:  1000px;
    position: relative;
    margin: 0 auto;
}
.my-slider ul li img {
    width: 100%;
}
.my-slider .slider-item-desc {
    position: absolute;
    width: 100%;
    height: 80px;
    bottom: 20px;
    border-radius: 5px;
    background: rgba(0, 0, 0, .6);
}
.my-slider ul li p {
    margin: 15px 25px 15px 25px;
    position: absolute;
    color: #fff;
}

.unslider-nav {
    height: 20px;
    overflow: hidden;
    position: absolute;
    right: 20px;
    bottom: 30px;
    z-index: 1;
}
.unslider-nav .unslider-active {
    background: #fff;
    cursor: default;
    opacity: 1;
}
.unslider-nav ol li {
    display: inline-block;
    float: none;
    width: 3px;
    height: 3px;
    margin: 0 4px;
    padding: 3px;
    background: transparent;
    border-radius: 5px;
    overflow: hidden;
    text-indent: -999em;
    border: 1px solid #fff;
    cursor: pointer;
    opacity: .4;
}
.unslider-arrow {
    display: block;
    width: 32px;
    height: 32px;
    top: 50%;
    right: -50px;
    left: auto;
    bottom: 200px;
    margin-top: -16px;
    overflow: hidden;
    border-radius: 32px;
    text-indent: -999em;
    opacity: .6;
    transition: opacity .2s;
    background: rgba(0,0,0,.2) no-repeat 50% 50%;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAQCAQAAABuQZ3IAAAAi0lEQVR4AU3OISBEQQBAwS0AACS9NxqQgCZpkiYBVddFvWhAAUABAPQCAGC4g/0vTnrBqCfDIZl70J+kMUBPpEwT4FNXxBxz4F1HxHyr4EVTxBLb4EFNxEon4CJSlVNw9AcV9sC16h8osgke1P1ArgXwouVvdQq86ww/GQefusNf7kBviBlxpT8k+gL/Wox4r1d4MwAAAABJRU5ErkJggg==);
    background-size: 7px 11px;
}
.unslider-arrow.next {
}
.unslider-arrow.prev {
    transform: rotate(-180deg);
}

/* section topmenu news*/
.sec-topmenu {
    margin: 15px 0 15px 0;
}
.topmenu {
    margin: 0 auto;
    max-width: 1000px;
}
.topmenu h2 {
    clear: both;
    margin: 0 0 20px 0;
    padding: 0 0 20px 0;
    font-size: 24px;
    line-height: 1.4;
    border-bottom: 1px solid #ccc;
}
.topmenu li {
    max-width: 25%;
    display: inline-block;;
}
.topmenu li img {
    max-width: 100%;
}
/* 首页 content*/
.sec-content {
    margin: 25px 0 25px 0;
}
.sec-content .content {
    border-top: 1px solid #ccc;
    max-width: 1000px;
    margin: 0 auto;
    padding: 50px 0 0 0;
}
.content-l {
    width: 48%;
    float: left;
}
.content-r {
    width: 48%;
    float: right;
}
.cnt-title {
    position: relative;
    border-bottom: 3px double #c2c9ce;
}
.cnt-title h3 {
    margin: 0;
    padding: 0 60px 0 0;
    font-size: 20px;
    background: none;
}
.cnt-title h3 em{
    display: block;
    padding: 0 0 10px 26px;
    background: url(../images/channel-title.png) no-repeat 0 5px;
}
.cnt-list li {
    padding: 12px 1px;
    border-bottom: 1px solid #d0d0d0;
    overflow: hidden;
        line-height: 22px;
}
.cnt-list li .time {
    padding: 10px 0;
    font-size: 12px;
    text-indent: 25px;
    background: url(../images/time_icon.gif) no-repeat 0px 11px;
}
